

.session .session_setting {
    margin:0px 5px;
    display: none;
}
/* .session:hover .session_setting{
    display: inline-block;
} */

/* .save_cmd ,save_results{

} */
html,body,#app,#page-wrapper,#page-container,#main-container,#page-content{
    height: 100%;
}